<%- include('./partials/header') %>
  <body>
    <p class="welcome">Welcome to <%= title %>!</p>
    <a href="/auth/google" class="login" id="google">Log In</a>
    <p class="welcome">or view the</p>
    <a class="welcome" href="/posts/feed">Feed</a>
  </body>