<%- include('./partials/header') %>
  <body>
    <h1><%= title %></h1>
    <p class="welcome">Welcome to <%= title %></p>
    <a href="/auth/google" class="login" id="google">Log In</a>
    <a class="welcome" href="/posts/feed">Feed</a>
  </body>