body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(36, 35, 35);
  color: white;
}

a {
  color: #00B7FF;
}

body > nav {
  grid-area: nav;
  background-color: rgb(36, 35, 35);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  border-color: rgb(36, 35, 35) rgb(36, 35, 35) lightblue rgb(36, 35, 35);
  border-width: 1px;
  border-style: solid;
}

nav > img {
  width: 30px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 5px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  height: 59px;
  width: 59px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(100, 203, 238);
  margin-left: 5px;
  margin-bottom: 5px;
}

.posts {
  display: flex;
  padding-top: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: lightblue;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.name {
  display: flex;
  justify-content: left;
  /* align-items: top; */
  position: relative;
  /* width: 100%; */
  /* color: rgb(173, 171, 171); */
}

.name-space {
  padding-left: 7px;
  font-weight: bolder;
  padding-bottom: 3px;
  color: rgb(173, 171, 171);
}

.pcontent {
  padding-left: 7px;
  position: relative;
  /* word-wrap: break-word; */
  inline-size: 80vw;
  /* width: auto; */
  overflow-wrap: break-word;
}

.reply-link {
  display: flex;
  justify-content: right;
}

.reply-button {
  background-color: rgb(84, 84, 192);
  color: white;
  font-size: 16px;
  padding: 8px 24px;
  border-radius: 8px;
  transition-duration: 0.4s;
  margin-bottom: 5px;
}

.reply-button:hover {
  background-color: rgb(92, 203, 240);
  color: white;
}

#feed {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

h1 {
  border-bottom: 2px lightblue solid;
}

#edit {
  background-color: rgb(36, 35, 35);
  color: white;
}

.editbutton {
  background-color: rgb(84, 84, 192);
  color: white;
}

.deletebutton {
  background-color: red;
  color: white;
}

.welcome {
  display: flex;
  justify-content: center;
}