body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body > nav {
  grid-area: nav;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  border-color: white white lightblue white;
  border-width: 2px;
  border-style: solid;
}

nav > img {
  width: 30px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 5px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.login img{
  height: 30px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

#avatar {
  border-radius: 50%;
  height: 59px;
  width: 59px;
}

#posts {
  padding-top: 10px;
}