<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Feed</th>
    </tr>
  </thead>
  <tbody>
    <% posts.forEach(function(m) { %>
      <tr>
        <td><%= m.userName %></td>
        <td><%= m.content %></td>
        <td><a href="/posts/<%= m._id %>">More..</a></td>
      </tr>
    <% }); %>
  </tbody>
</table>